/* Imports */
@import url('./global.css');
@import url('./Header.css'); /* Changed from 'header.css' to 'Header.css' */
@import url('./buttons.css'); /* Changed 'Buttons.css' to 'buttons.css' to match the correct case */
@import url('./Main.css');
@import url('./About.css');
@import url('./index.css');
@import url('./variables.css');
@import url('./Portfolio.css'); /* Added import for Portfolio.css */
@import url('./Contact.css');
@import url('./Form.css');
@import url('./Footer.css'); /* Changed 'Footer.css' to 'footer.css' to match the correct case */

/* Reset and Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: transform 0.2s ease !important; /* Apply globally with priority */
}

body, html {
  font-family: var(--font-family);
  font-size: 16px; /* Base font size */
  background-image: url('../images/bluegradient.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: bold;
}

a:active {
  color: yellowgreen;
}

a:hover {
  color: var(--secondary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: var(--text-color);
  font-size: 0.875rem; /* 14px */
}

p {
  text-indent: 1.5rem;
  text-align: left !important;
  font-size: 1.1rem!important; /* 16px */
}

/* Global img styles */
img {
  width: 60px;
  margin: var(--margin);
}

/* Classes */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container p {
  font-size: 0.75rem;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem; /* 16px */
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.study {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
  align-items: center;
  font-size: 1rem; /* 16px */
  margin: 1rem !important;
  padding: 1rem;
  width: auto !important;
  background-color: var(--background-color) !important;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem; /* 16px */
  margin: 0.5rem;
}

.about_main div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3rem;
  border-radius: 6px;
  width: 90%;
  border: 3.5px ridge var(--primary-color);
  background-color: rgba(0, 0, 59, 0.6);
}

.center-text {
  text-align: center;
  font-size: 1.75rem; /* 16px */
  font-family: var(--font-family);
  color: var(--primary-color);
  font-weight: 600;
}

p.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  font-size: 1.125rem; /* 16px */
  margin: 2rem;
}
.indented-list {
  margin-left: 2rem;
  font-size: 1rem; /* 16px */
}
.container {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%; /* Increased height by 50% */
  z-index: 1000;
  flex-direction: column;
  align-items: flex-end;
}

.menu-container.open {
  display: flex !important;
  background-color: rgba(0, 12, 73, 0.5);
}

#toggleIcon {
  position: fixed;
  display: flex;  
  justify-self: flex-end;
  align-self: center;
  top: 0 !important;
  right: 0 !important;
  margin: 0.5rem;
  z-index: 1100;
}

/* IDs */
#githubRepo {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1.25rem; /* 16px */
  text-align: center;
  text-indent: 0 !important;
}

.GitHub {
  width: 60px !important; /* Increased by 33% from 45px */
  height: auto;
  border-radius: 10px !important;
  background-color: white;
}

#anchor {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1rem; /* 16px */
  text-align: center;
  background-color: var(--background-color);
  border-radius: 6px;
  border: 3px solid var(--primary-color);
}

#profile {
  margin-bottom: var(--margin);
  border-radius: 50%;
  width: 150px;
}

#Codecademy {
  background-color: white;
  padding: 1rem;
}

#StackOverFlow {
  height: 60px !important; /* Increased by 33% from 60px */
  width: auto;
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
}

#MDN {
  height: 60px !important; /* Increased by 33% from 60px */
  width: auto !important;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.734);
}

/* Classes with multiple selectors */
.about-me-email,
.anchor,
#anchor {
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1rem; /* 16px */
  text-align: center;
  padding: 0.5rem;
}

.about-me-email:hover,
.anchor:hover,
#anchor:hover {
  color: var(--secondary-color);
}

.about-me-email:active,
.anchor:active,
#anchor:active {
  color: yellowgreen;
}

.about-me-email:visited {
  color: var(--primary-color);
}

.about-me-email:focus {
  margin-top: 0;
  margin-bottom: 2.5rem;
}

.anchor {
  text-align: left;
}

.leetCode, #LeetCode {
  border-radius: 14px !important;
}

.study-img, .social-icons img {
  height: 70px !important;
  width: auto !important;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7); /* Subtle shadow */;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition for box-shadow */
}

.study-img:hover, .social-icons img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.7); /* Increased shadow on hover */
}

.study-img:active, .social-icons img:active {
  transform: scale(0.9);
  transition: transform 0.1s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.7); /* Reset shadow on click */
}

.Stack {
  width: 75px !important;
  height: auto;
  border-radius: 8px;
  background-color: white;
}

/* Add box-shadow styling to the specified logos */
#Netlify, #CSS, #Bootstrap, #JavaScript, #TypeScript, #React, #REST, #Flask, #DotNet, #MySQL, #PostgreSQL {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Subtle shadow */;
  border-radius: 8px; /* Optional: Add rounded corners */
}

#Bootstrap {
  padding: 0!important;
  margin: 1rem;
  height: 43.5px;
  width: auto;
}



@media (max-width: 1024px) {
  .about_main, .section {
    padding: 0.5rem;
    font-size: 1rem; /* 16px */
  }

  .center-text {
    font-size: 1.5rem; /* 24px */
  }

  #profile {
    width: 130px !important;
  }

  p.p {
    font-size: 1rem!important; /* 16px */
  }
}

@media (max-width: 768px) {
  .about_main, .section {
    padding: 0!important; /* Updated padding */
    font-size: 1.125rem; /* 18px */
  }

  .center-text {
    font-size: 1.5rem; /* 24px */
  }

  #profile {
    width: 140px !important; /* Updated width */
  }

  p.p {
    font-size: 1rem!important; /* 16px */
  }

  .about_main div {
    margin: 2rem;
  }

  .social-icons img.Discord {
    height: 50px !important; /* Updated height */
    width: auto !important;
  }

  .study-img, .social-icons img {
    height: 50px !important; /* Updated height */
    width: auto !important;
    margin: 0.5rem;
  }

  .center-text {
    font-size: 1.25rem; /* 20px */
  }

  img {
    width: 50px;
  }

  #footer {
    font-size: 0.875rem!important;
  }
}

@media (max-width: 480px) {
  .about_main {
    padding: 0.5rem;
    font-size: 0.75rem; /* 12px */
  }

  .center-text {
    font-size: 1.25rem; /* 16px */
  }

  #profile {
    width: 100px !important;
  }

  p.p {
    font-size: 0.9rem!important; /* 14px */
  }

  .about_main div {
    margin: 2rem;
  }

  .social-icons {
    display: grid !important;
    grid-template-columns: auto auto auto;
  }

  .social-icons {
    display: grid !important;
    grid-template-columns: auto auto auto;
  }

  .social-icons img {
    height: 60px !important;
    width: auto !important; 
    margin: 1rem;
    border-radius: 8px;
  }

  .Stack.Overflow {
    width: 80px !important;
    height: auto !important;
  }
}