@import url('./header.css');
@import url('./variables.css');

header {
    position: relative; /* Ensure header can be adjusted */
    z-index: 1000; /* Place header above the body */
    top: 0; /* Keep it at the top */
    background-color: var(--background-color);
    border-bottom: 5px ridge var(--primary-color);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    text-align: center;
    padding: 0!important
}

footer {
    background-color: var(--background-color);
    border-top: 3px solid var(--primary-color);
    margin-top: auto;
    text-align: center;
}

.listItem > a {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    font-size: 2.25rem !important;
    margin: 0;
    padding: 0;
}

.menu-container {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column !important;
    justify-content: center;
}

.menu-button {
    background-color: var(--background-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.25rem;
    position: relative;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    transition: color 0.3s ease, transform 0.3s ease, background-color 0.3s ease;
}

.menu-button:hover {
    background-color: var(--secondary-color); /* Change background on hover */
}


.nav-container {
    align-items: center;
    background-color: var(--background-color);
    border-bottom: 3px solid var(--primary-color);
    display: flex;
    justify-content: center;
}

.nav-items {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-items a {
    color: var(--text-color);
    display: flex;
    font-family: 'Arial Black', Gadget, sans-serif;
    font-size: clamp(1.5rem, 3vw, 3rem);
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-items a:hover {
    color: var(--secondary-color);
    transform: scale(1.1);
}

.nav-items a:active {
    color: yellowgreen;
    transform: scale(0.95);
}

.nav-items .listItem:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.nav-items .listItem:active {
  transform: scale(0.95);
  transition: transform 0.1s ease;
}

#toggleIcon {
    position: relative; /* Position relative to the body */
    top: 1rem; /* Adjust as needed */
    right: 1rem; /* Adjust as needed */
    height: 37.5px !important;
    width: 37.5px !important;
    z-index: 1100; /* Ensure toggleIcon is above the header */
    opacity: 0.6;
}
/* Media Queries for responsiveness */
@media (max-width: 1024px) {
    .nav-items a {
        font-size: 1.5rem!important;
    }
}

@media (max-width: 900px) {
    .nav-items a {
        font-size: 1.3rem!important;
    }


}
