@import url('./variables.css');

/* Header Styles */
header {
    position: relative;
    z-index: 1000;
    top: 0;
    border-bottom: 5px ridge var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0.5rem 0;
    background-color: var(--background-color);
    overflow-x: hidden;
}

/* Footer Styles */
footer {
    background-color: var(--background-color);
    border-top: 3px ridge var(--primary-color);
    margin-top: auto;
    text-align: center;
}

/* List Item Links */
.listItem > a {
    align-items: center;
    background-color: rgba(0, 0, 0, 0) !important;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    font-size: 2.25rem !important;
    margin: 0;
    padding: 0;
}

/* Menu Container */
.menu-container {
    align-items: center;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column !important;
    justify-content: center;
}

/* Menu Button */
.menu-button {
    background-color: var(--background-color);
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.25rem;
    position: relative;
    top: 0 !important;
    right: 0 !important;
    padding: 0.5rem 1rem;
    transition: color 0.2s ease, transform 0.2s ease, background-color 0.2s ease;
}

.menu-button:hover {
    background-color: var(--secondary-color);
}

/* Navigation Container */
.nav-container {
    align-items: center;
    background-color: transparent !important;
    border-bottom: 3px ridge var(--primary-color);
    display: flex;
    justify-content: center;
}

/* Navigation Items */
.nav-items {
    align-items: center;
    background-color: transparent !important;
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}

.nav-items a {
    color: var(--text-color);
    display: flex;
    font-family: 'Arial Black', Gadget, sans-serif;
    justify-content: center;
    align-items: center;
    margin: 1.5rem !important;
    padding: 0.5rem 2.5rem;
    text-decoration: none;
    transition: color 0.2s ease, transform 0.2s ease;
}

.nav-items a:hover {
    color: var(--secondary-color);
    transform: scale(1.15);}

.nav-items a:active {
    transform: scale(0.95);
    border-radius: 6px;
    padding: 0 0.5rem;
}

.nav-items a.active {
    color: var(--primary-color);
    border: 2.5px ridge var(--primary-color) !important;
    padding: 0 0.5rem !important;
    border-radius: 6px !important;
    background-color: rgba(0, 0, 136, 0.75) !important;
    font-size: 2.75rem !important;
}

/* Toggle Icon */
#toggleIcon {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1000;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: rgba(97, 218, 251, 0.8) !important;
    border-radius: 6px;
    padding: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#toggleIcon:hover {
    transform: scale(1.1);
    background-color: var(--secondary-color);
}

#toggleIcon:active {
    transform: scale(0.9);
    background-color: var(--primary-color);
}

/* Universal Heading Styles */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Arial Black', Gadget, sans-serif;
}

/* Anchor Styles */
#anchor {
    border: 3px ridge var(--primary-color);
}

/* Social Icons */
.social-icons img.Discord {
    height: 65px !important; /* Adjust height to 80px */
    width: auto !important; /* Maintain aspect ratio */
}

.Discord {
    padding: 0 !important;
    box-shadow: none !important; /* Remove shadow for Discord logo */
    height: 150px !important; /* Adjust height to 150px */
}

/* Media Queries */
@media (max-width: 1024px) {
    .nav-items a {
        font-size: 1.75rem !important;
    }
    .nav-link.active {
        font-size: 1.5rem !important;
    }
}

@media (max-width: 900px), (max-width: 768px), (max-width: 576px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}