:root {
  --margin-small: 0.5rem;
  --margin-medium: 0.75rem;
  --padding-small: 0.5rem;
  --padding-medium: 0.75rem;
  --font-size-small: 1rem;
  --font-size-medium: 1.25rem;
  --font-size-large: 1.5rem;
  --text-color: #ffffff;
  --font-family: Arial, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  flex: 1;
  color: var(--text-color);
}

.logo {
  height: 60px;
  margin: var(--margin-small);
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: auto;
}

.logos {
  background-color: var(--background-color);
  border: 3.5px ridge var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 2rem 2.5rem 2rem; /* Default margin */
  padding: 0.75rem!important;
  border-radius: 6px;
}

#Angular {
  transform: scale(1.15);
}

#Jest {
  background-color: white !important;
  padding: var(--padding-small);
  border-radius: 50%;
}


#GitHub {
  background-color: white;
  padding: 0!important;
  border-radius: 18px;
}

#Vercel, #NextJS {
  background-color: white;
  border-radius: 50%;
  padding: 0 !important;
}

#ExpressJS {
  background-color: black;
  padding: var(--padding-small);
  border-radius: 50%;
}

#Flask {
  background-color: white;
  padding: var(--padding-small);
  height: 55px;
  width: 55px;
  border-radius: 10px;
}

#REST.API {
  background-color: white;
  padding: var(--padding-small);
  border-radius: 8px;
}

#HTML {
  transform: scale(1.25);
}

#Git {
  height: 55px;
  background-color: white;
  padding: var(--padding-small);
  border-radius: 8px;
}

#PostgreSQL {
  background-color: white;
  padding: 0.25rem;
  border-radius: 8px;
}
                 
#profile {
  width: 175px !important;
  border: 3.5px ridge var(--primary-color); 
  margin: 1.5rem;
  border-radius: 8px;
}

#name {
  font-size: var(--font-size-large);
  color: var(--primary-color);
}

#experience, #tech {
  font-size: var(--font-size-medium);
  color: var(--primary-color);
  margin-top: var(--margin-small);
}

#contact {
  font-size: var(--font-size-small);
  color: var(--text-color);
  margin: var(--margin-small);
  color: var(--primary-color);
  font-style: bold;
}

#VisualStudio {
  width: 80px;
  height: auto;
  padding: 0;
  margin: 0;
}

.main p {
  font-size: 1em;
}

p.p {
  line-height: 1.6;
  text-align: center;
  color: var(--text-color);
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  width: 87.5%;
}

.small-logo {
  width: 50px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.small-logo:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.small-logo:active {
  transform: scale(0.9);
}

#C, #C\+\+, #C\# {
  height: 70px;
  width: auto;
}

#Redux {
  background-color: white;
  border-radius: 8px;
  height: 55px;
  width: auto;
}

#ExpressJS, #NodeJS, #Python-Django {
  height: 60px !important;
  width: auto !important;
}

#toggleIcon {
  transform: none;
  transition: transform 0.3s ease-in-out;
}

#experience.headings, #tech.headings {
  font-weight: 600 !important;
}

@media (max-width: 1024px) {
  #profile {
    width: 140px;
  }

  .logo-container {
    gap: 1.5rem;
  }

  .main p {
    font-size: 1.2rem;
  }

  .logos {
    margin: 1rem 2rem; /* Adjusted for medium screens */
  }
}

@media (max-width: 768px) {
  #name {
    font-size: calc(var(--font-size-large) - 0.25rem);
  }

  #experience, #tech {
    font-size: calc(var(--font-size-medium) - 0.25rem);
  }

  #contact {
    font-size: calc(var(--font-size-small) - 0.25rem);
  }

  p.p {
    font-size: calc(var(--font-size-small) - 0.125rem);
  }

  #profile {
    width: 120px !important;
    margin-top: 1rem !important;
  }

  .main p {
    font-size: 1rem;
  }

  .header {
    background: none;
    border: none;
  }

  .container {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .menu-container {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%; /* Increased height by 50% */
    z-index: 1000;
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-container.open {
    display: flex !important;
    background-color: rgba(0, 12, 73, 0.5);
  }

  #toggleIcon {
    position: fixed;
    display: flex;  
    justify-self: flex-end;
    align-self: center;
    top: 0 !important;
    right: 0 !important;
    margin: 0.5rem;
    z-index: 1100;
  }

  .nav-items  {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: flex-start;
    padding: 1rem;
    background-color: transparent;
  }

  .nav-items > * {
    margin: var(--margin-small) !important;
    padding: 1rem 1rem 1rem 0 !important;
    font-size: calc(var(--font-size-medium) - 0.25rem) !important;
    background-color: transparent !important;
    text-shadow: #000000 2px 2px 2px !important;
  } 

  .listItem > a {
    width: 100% !important;
    padding: var(--padding-small) !important;
    margin: var(--margin-small) !important;
    font-size: calc(var(--font-size-medium) - 0.25rem) !important;
    background-color: transparent !important;
  }

  .logos {
    margin: 1rem 1.5rem; /* Adjusted for small screens */
    padding: 0.5rem !important;
  }
}

@media (max-width: 480px) {
  .logos > * {
    transform: scale(0.75) !important; /* Scales down by 25% */
    transform-origin: center; /* Ensures scaling happens from the center */
    margin: 0.05rem; /* Adjusted margin */
  }

  #TailwindCSS, #Bootstrap {
    padding: var(--padding-small) !important;
    transform: scale(1.25) !important; /* Scales down by 25% */
  }
}